/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

.card-info{
  font-size: .8rem;
}

.ion-star {
    color: goldenrod;
    font-size: 1rem;
}

.ion-person-add {
    color: dodgerblue;
    font-size: 1rem;
}

.gallery{
  object-fit: none;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 30rem;
  max-height: 30rem;
  overflow: hidden;
}

.gallery-image{
  transform: translateY(-20%);
}

.caption{
  background-color: black;
  // opacity: 0.5;
}

.show-text{
  font-size: .8rem;
}
